body{
    background-color: lightblue;
}
h1{
    text-align: center;
}
p{
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
}
.collegeQu{
    background-color: gray;
    color:black;
    opacity: 0.7;
    border-style: groove;
    border-width: medium;
    border-bottom: 6px solid red;

}
.imgLogo{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -100px;
    right: 100px;
    top: 175px;
    display: block;
    height: 250px;
    width: 150px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: scroll;
}