<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
              
              
            <table>
                <tr>
                    <td>
                        <label for="username">Username:</label>
                        <input type="text" name="username" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Login</button>
                    </td>
                </tr>
            </table>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
    </center>
</body>
</html>