{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
    <center>
        <h1>Signup</h1>
         
        {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong> {{message}}
        </div>
          {% endfor %}
         <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">Login with GOOGLE</button>
        </div>
        <p>OR</p>
        <table>
        <tr>
        <td><label for="username" >Username:</td>
        <td><input type="text"  name="username" required></label></td>
        </tr>
        <tr>
        <td><label for="email" >Email:</td>
        <td><input type="email"  name="email" required></label></td>
        </tr> <tr>
        <td><label for="pass1" >Password:</td>
        <td><input type="password" name="pass1" required></label></td>
        </tr> <tr>
        <td><label for="pass2" >Confirm Password:</td>
        <td><input type="password"  name="pass2" required></label></td>
        </tr>
        <tr>
        <td><button type="submit">Signup</button></td></tr>
    </table>
    <p>You have an account? <a href="{% url 'login' %}">Login</a></p>
    </center>

    </form>
</body>
</html>