
h1{
    padding-left: 70%;
    border-bottom: double;
    border-top: double;
    position: relative;
   
}
.paraOr{
    padding-top: 2px;
    border: 2px solid blue;
    border-left: 7px solid red;
    padding-left: 2px;
}
.planetNote{
    width: 500px;
    height: 80px;
    padding: 20px;
    border: 5px solid gray;
    margin: 0;
    right: 20%;
  
}

  
    