<h3>Name : {{data.name}}</h3>
<h3>Description : {{data.description}}</h3>
<h3>Image : {{data.image}}</h3>
<h3>Created : {{data.created_at}}</h3>

<a href="{% url 'BlogUpdate' data.pk %}">Update</a>
<a href="{% url 'BlogDelete' data.pk %}">Delete</a>

