*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer; 
}
li:hover{
    color: dodgerblue;
}
h1:hover{
    color: dodgerblue;
}
h1{
    cursor: pointer;
}
input{
    padding: 15px;
    width: 60%;
}
.searchbar{
    padding: 25px;
    text-align: center;
   
}