.border{
    height: 300px;
    width: 300px;
    background-color: skyblue;
    border: 5px solid black;
    box-sizing: content-box;
    overflow: auto;
}
.column{
    border: 5px solid black;
    padding: 10px;
    column-count: 3;
    column-gap: 50px;
    column-rule: 5px solid red;
}