<style>
    body{
        background-color: aquamarine;
    }
    div{
        width: 500px;
        height: 300px;
        background-image: url(parrot.png);
        font-size: 80px;
        font-family: Impact;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
</style>
<div>
Keerthy
</div>